<div id="register" fxLayout="column">

    <div id="register-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="register-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/fuse.svg">
            </div>

            <div class="title">{{'Register.acc_create' | translate}}</div>

            <form name="registerForm" [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit()">

                <mat-form-field appearance="outline">
                    <mat-label>{{'Register.name' | translate}}</mat-label>
                    <input matInput formControlName="name">
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error *ngIf="registerForm.get('name').hasError('required')">
                        {{'Register.name_required' | translate}}
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('name').hasError('minlength')">
                        {{'Register.name_length' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{'Login.email' | translate}}</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="registerForm.get('email').hasError('required')">
                        {{'Login.email_required' | translate}}
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('email').hasError('email')">
                        {{'Login.email_pls' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{'Login.password' | translate}}</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="registerForm.get('password').hasError('required')">
                        {{'Login.password_required' | translate}}
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('password').hasError('minlength')">
                        {{'Login.password_length' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{'Register.password_confirm' | translate}}</mat-label>
                    <input matInput type="password" formControlName="passwordConfirm">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="registerForm.get('passwordConfirm').hasError('required')">
                        {{'Register.password_confirm_required' | translate}}
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('passwordConfirm').hasError('minlength')">
                        {{'Login.password_length' | translate}}
                    </mat-error>
                    <mat-error *ngIf="!registerForm.get('passwordConfirm').hasError('required') &&
                                       registerForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        {{'Register.password_must_match' | translate}}
                    </mat-error>
                </mat-form-field>

                <div class="terms" fxLayout="row" fxLayoutAlign="center center">
                    <mat-checkbox name="terms" aria-label="I read and accept" required>
                        <span>{{'Register.read_accept' | translate}}</span>
                    </mat-checkbox>
                    <a href="#">{{'Register.terms_cond' | translate}}</a>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
                        [disabled]="registerForm.invalid" type="submit">
                    {{'Register.acc_create' | translate}}
                </button>

            </form>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">{{'Register.acc_allready' | translate}}</span>
                <a class="link" [routerLink]="'/pages/auth/login'">{{'Register.login' | translate}}</a>
            </div>

        </div>

    </div>

</div>
