<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <img [src]="contact.avatar" class="avatar contact-avatar huge m-0"
                 [alt]="contact.name"/>
            <div class="contact-name mt-8">{{contact.name}}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="contactForm">

            <div fxLayout="row" fxLayoutAlign="start start" *ngIf="action === 'edit'">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Id</mat-label>
                    <input name="userID" formControlName="userID" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Name</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="name" formControlName="name" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Email</mat-label>
                    <mat-icon matSuffix class="secondary-text">email</mat-icon>
                    <input name="username" formControlName="username" matInput required type="email">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start" *ngIf="action !== 'edit'">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Password</mat-label>
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <input name="password" formControlName="password" matInput required type="password">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Gender</mat-label>
                    <mat-icon matSuffix class="secondary-text">face</mat-icon>
                    <input name="gender" formControlName="gender" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Lifecycle</mat-label>
                    <mat-icon matSuffix class="secondary-text">face</mat-icon>
                    <input name="lifecycle" formControlName="lifecycle" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Roles</mat-label>
                    <mat-icon matSuffix class="secondary-text">group</mat-icon>
                    <input name="rolesList" formControlName="rolesList" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Birthday</mat-label>
                    <input matInput [matDatepicker]="birthdayDatePicker" name="birthday" formControlName="birthDate">
                    <mat-datepicker-toggle matSuffix [for]="birthdayDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #birthdayDatePicker></mat-datepicker>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Member since</mat-label>
                    <mat-icon matSuffix class="secondary-text">timelapse</mat-icon>
                    <input name="memberSince" formControlName="memberSince" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex disabled="true">
                    <mat-label>Last active</mat-label>
                    <mat-icon matSuffix class="secondary-text">access_time</mat-icon>
                    <input name="lastActive" formControlName="lastActive" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Declared location</mat-label>
                    <mat-icon matSuffix class="secondary-text">group</mat-icon>
                    <input name="location" formControlName="location" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Locations</mat-label>
                    <mat-icon matSuffix class="secondary-text">group</mat-icon>
                    <input name="locationsList" formControlName="locationsList" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Heading</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="heading" formControlName="heading" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Lifestyle</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="lifestyle" formControlName="lifestyle" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Net worth</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="netWorth" formControlName="netWorth" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Annual income</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="annualIncome" formControlName="annualIncome" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Height</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="height" formControlName="height" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Body type</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="bodyType" formControlName="bodyType" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Ethnicity</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="ethnicity" formControlName="ethnicity" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Hair color</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="hairColor" formControlName="hairColor" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Occupation</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="occupation" formControlName="occupation" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Education</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <mat-select name=""education formControlName="education">
                        <mat-option *ngFor="let item of allSelectors.Education" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Relationship</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="relationship" formControlName="relationship" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Children</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="children" formControlName="children" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Smoking</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="smoking" formControlName="smoking" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Drinking</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="drinking" formControlName="drinking" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Language</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="language" formControlName="language" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>About me</mat-label>
                    <textarea name="descrAboutME" formControlName="descrAboutME" matInput type="text" max-rows="4"></textarea>
                </mat-form-field>
            </div>
            <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Looking for</mat-label>
                    <input name="descrLookingFor" formControlName="descrLookingFor" matInput type="text" max-rows="4">
                </mat-form-field>
            </div>
            <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Looking for (detailed)</mat-label>
                    <textarea name="descrLookingForMore" formControlName="descrLookingForMore" matInput type="text" max-rows="4"></textarea>
                </mat-form-field>
            </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'"
                mat-button
                class="mr-8"
                (click)="matDialogRef.close(['delete',contactForm])"
                aria-label="Delete"
                matTooltip="Delete">
            DELETE
        </button>

        <button *ngIf="action !== 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(contactForm)"
                [disabled]="contactForm.invalid"
                aria-label="SAVE">
            ADD
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(['save',contactForm])"
                [disabled]="contactForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>
