<div id="login" fxLayout="column">

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/fuse.svg">
            </div>

            <div class="title">{{'Login.acc_login' | translate}}</div>
            <div *ngIf="backendError" fxLayout="row" fxLayoutAlign="center center">
                <mat-icon matSuffix class="secondary-text">warning</mat-icon>
                <mat-error>
                    {{ backendError | translate}}
                </mat-error>
            </div>

            <form name="loginForm" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">

                <mat-form-field appearance="outline">
                    <mat-label>{{'Login.email' | translate}}</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        {{'Login.email_required' | translate}}
                    </mat-error>
                    <mat-error
                        *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
                        {{'Login.email_pls' | translate}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{'Login.password' | translate}}</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="loginForm.get('password').hasError('required')">
                        {{'Login.password_required' | translate}}
                    </mat-error>
                    <mat-error *ngIf="!loginForm.get('password').hasError('required') &&
                                       loginForm.get('password').hasError('minlength')">
                        {{'Login.password_length' | translate}}
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">
                    <mat-checkbox class="remember-me" aria-label="Remember Me">
                        {{'Login.remember_me' | translate}}
                    </mat-checkbox>

                    <a class="forgot-password" [routerLink]="'/pages/auth/forgot-password'">
                        {{'Login.forgot_password' | translate}}
                    </a>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                        [disabled]="loginForm.invalid" type="submit">
                    {{'Login.login' | translate}}
                </button>

            </form>

            <div class="separator">
                <span class="text">{{'Login.or' | translate}}</span>
            </div>

            <button mat-raised-button class="google">
                {{'Login.login_google' | translate}}
            </button>

            <button mat-raised-button class="facebook">
                {{'Login.login_facebook' | translate}}
            </button>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text"> {{'Login.no_account' | translate}}</span>
                <a class="link" [routerLink]="'/pages/auth/register'"> {{'Login.create_account' | translate}}</a>
            </div>

        </div>

    </div>

</div>
